.alteryx-blue {
  background-color: #043e53;
}

.aliceblue {
  background-color: #EEF4F9;
}

.chart-image {
  background-image: url('../assets/column3d-chart.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  height: 70%;
}

.tab-focused {
  border-bottom: 2px solid #1AADA3;
  color: black;
}

.table-container {
  min-height: 275px;
  max-height: 275px;
}

.card-shadow {
  box-shadow: -1px 1px 3px 0px #9DB4C6
}

.merge-shadow {
  box-shadow: 0px 7px 3px 1px #9DB4C6
}

tr:nth-child(even) {
  background-color: #EEEEEE;
  color: #565656;
}

tr:nth-child(odd) {
  background-color: #F9F9F9;
  color: #565656;
}

tr:nth-child(even) td {
  border: 1px solid #eee;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 8px;
  text-overflow: "";
}

.arrow {
  background-image: url(../assets/triangle-down.png);
  background-repeat: no-repeat;
  background-size: 6px;
  background-position: 95% 50%;
  width: 75px;
  cursor: pointer;
}

.paging-btns {
  position: absolute;
  bottom: -225px;
  display: block;
  margin: auto;
  width: 100%;
}










