
<!--
<option value='1'>one</option>
<option value='2'>two</option>
<option value='3'>three</option>
<option value='4'>four</option>
-->

  <option value='1'>subversion | 1.9.5</option><option value='2'>github | current</option>

  <%=select_options_html%>
