      </div>
    </div> <!-- #wrapper -->
    <div id="footer">
        <img src="/../images/alteryx1.png">
    </div>
  </div> <!-- #body-container -->
  <script type="text/javascript" src="/../js/footer_init.js"></script>
  </body>
</html>
